@import '@styles/variables';

$gap: 30px;
$gap-small: 15px;

.login {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 7;
}

.right {
    flex: 4;
    height: 100vh;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;

    h1, h2, h3, h4, h5, h6 {
        font-weight: $fw-bold;
    }

    input {
        min-width: 350px;
    }
}

.tile {
    gap: $gap;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}