@import "@styles/variables";

.imgBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;


    box-shadow: $shadow;
    transition: $transition;

    &:hover {
        background-size: 115%;
        box-shadow: $shadow-hover;
        transition: $transition;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: $transition;
    }

    &:hover img {
        transform: scale(1.1);
        transition: $transition;
    }
}
