@import "@styles/variables";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: inherit;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

html {
    color-scheme: light dark;
}

body {
    min-height: 100vh;
    font-family: $font-name, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-style: $font-style;
    line-height: $line-height;
    background: $bg;
    color: $dark;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: $h1;
}
h2 {
    font-size: $h2;
}
h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}
h5 {
    font-size: $h5;
}
h6 {
    font-size: $h6;
}
p, span {
    font-size: $p;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: inherit;
    font-weight: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    width: 10px;
    transition: 0.2s;
}
::-webkit-scrollbar-track {
    //   background: #cfcfcf;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
    transition: 0.2s;
}
::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 3px solid #d4d4d4;
    transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}

.container {
}